In [15]:
# Import Dependencies
import pandas as pd

In [16]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [17]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [18]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [19]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [20]:
# Merge the two DataFrames together based on the Dates they share
cdf = pd.merge(bitcoin_df, dash_df, on="Date")
cdf.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [21]:
# Rename columns so that they are differentiated
cdf = cdf.rename(columns={"Open_x": "BITCOIN Open", "High_x": "BITCOIN High", "Low_x": "BITCOIN Low",
                                      "Close_x": "BITCOIN Close", "Volume_x": "BITCOIN Volume", "Market Cap_x": "BITCOIN Market Cap"})

cdf = cdf.rename(columns={"Open_y": "DASH Open", "High_y": "Dash High", "Low_y": "DASH Low",
                                      "Close_y": "DASH Close", "Volume_y": "DASH Volume", "Market Cap_y": "DASH Market Cap"})

cdf.head()

,Date,BITCOIN Open,BITCOIN High,BITCOIN Low,BITCOIN Close,BITCOIN Volume,BITCOIN Market Cap,DASH Open,Dash High,DASH Low,DASH Close,DASH Volume,DASH Market Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [22]:
# alternatively you can set your suffixes when the merge occurs
c_df = pd.merge(bitcoin_df, dash_df, on="Date", suffixes=("-Bitcoin", "-Dash"))
c_df.head()

,Date,Open-Bitcoin,High-Bitcoin,Low-Bitcoin,Close-Bitcoin,Volume-Bitcoin,Market Cap-Bitcoin,Open-Dash,High-Dash,Low-Dash,Close-Dash,Volume-Dash,Market Cap-Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [27]:
# Collecting best open for Bitcoin and Dash

bestopen_b = c_df["Open-Bitcoin"].max()
bestopen_d = c_df["Open-Dash"].max()

# Collecting best close for Bitcoin and Dash

bestclose_b = c_df["Close-Bitcoin"].max()
bestclose_d =c_df["Close-Dash"].max()

# Collecting the total volume for Bitcoin and Dash

vol_b = round(c_df["Volume-Bitcoin"].sum())
vol_d = round(c_df["Volume-Dash"].sum()              )